<body>
 <% include header %>
<div class="info">
        <div class="centered1">
                
                        <input class="ki" type="text" name="search" placeholder="Search...">
                        <button type="button" class="button kill" data-toggle="modal" data-target="#myModal">Add Performer</button>
                        <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Choose any one of the following to send the measurement form or to store 
                                              the measurements of the performer</h4>
                                    </div>
                                    <div class="modal-body">
                                                <button type="button" class="button kill1"><a  href="sendform">Send Form</a></button><br><br>
                                                <button  type="button" class="button kill1"><a href="performer">Take Measurements</a></button>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="button" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                
        </div>
</div>

<br><br>
<p>ADD PERFORMER</p><br><br>
<form>
        
          <label for="inputlg">Name (Last, First)</label>
          <input id="name1" name="f1n" type="text" value="manas">
        
      
          <label for="inputlg">Character Name</label>
          <input id="charName1" name="f2n" type="text" value="Dog">
    
        <button type="button" onclick="submitToFirebase()">submit</button>      
</form>

<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
</script>
<script src="./firebase.js"></script>


</body>
        </html>
              