<% include header %>

<body>
        <div class="split left">
                <div class="centered1">
                        <form>
                           <input type="text" name="search" placeholder="Search...">
                        </form>
                <a href="performer" class="button">Add Performer</a>
                </div>
        </div>
              
        <div class="split right">
                <div class="centered">
                  <h4>You get the performer information here </h4>
                  <p id="info"> </p>
                </div>
        </div>