<% include header %>

<body>
        <div class="info">
                <div class="centered1">
                        <form>
                           <input class="ki" type="text" name="search" placeholder="Search..."><a href="performer" class="button kill">Add Performer</a>
                        </form>
                
                </div>
        </div>
              