<!DOCTYPE html>
<style>
#td1:hover{
        cursor: pointer;
        background-color: #ccc;
      }
#edit:hover{
  cursor: pointer;
  background-color: #ccc;
}
 .marquee {
 height: 50px;	
 overflow: hidden;
 position: relative; 
 }
 input { 
   width:100%; 
   height:100%;
    }
 #scroll{
   color : blue;
 }     
</style>
<html>
<body>
 <% include header %>
<div id="userDiv" class="info">
        <div class="centered1">
                
                        <!-- <input class="ki" type="text" name="search" placeholder="Search..."> -->
                        <button type="button" class="button kill" data-toggle="modal" data-target="#myModal">Add Performer</button>
                        <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Choose any one of the following to send the measurement form or to store 
                                              the measurements of the performer</h4>
                                    </div>
                                    <div class="modal-body">
                                                <button type="button" class="button kill1"><a  href="sendform">Send Form</a></button><br><br>
                                                <button  type="button" class="button kill1"><a href="performer">Take Measurements</a></button>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="button" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                
        </div>
</div>
<br/>
<br/>
<!-- <marquee behavior="alternate" direction="left"> <b id="scroll">Click on performers to see their Information </b></marquee>
<br/>
<br/> -->


<div class="container-fluid">
        <div class="row">
                <div class="col-md-3">
                    <input style = " margin-left: 0px;" class="ki" type="text" id="myInput" onkeyup="myFunction()" name="search" placeholder="Search...">
                                <table  id="myTable" style="width:85%;border: 5px solid">
                                    <tr >
                                        <th><h3>Performers</h3></th>
                                      </tr>
                                      <% var keys = Object.keys(performers)
                                      keys.forEach(function(key){ 
                                      var performer = performers[key]
                                      var Name = performers[key].general.Name.First_Name %>
                                      <tr>
                                        <td onclick= "getInfo('<%= key %>' )" id="td1"> <%= Name  %> </td>
                                      </tr>
                                        <% }) %>

                                </table>                                           
                        
                                              
                </div>
        
        <div class="col-md-9">
            <marquee behavior="alternate" direction="left"> <b id="scroll">Click on performers to see their Information </b></marquee>
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"> <p ><b id="heading">Performer's Information</b></p></div>
                        <div class="col-md-2"> <a id="measure" href="performer">Measurements</a></div>	
                        <div class="col-md-1"> <a id="edit" onclick="edit()" >Edit</a></div>	
                        
                </div>
                <br/>
                <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-8"> 
                                <table style="width:85%;border: 5px solid ">
                                                <tr>
                                                  <td><p ><b>Name</b></p></td>
                                                  <td><span id="First_name"></span>&nbsp;<span id="last_name"></span><br/></td>
                                                </tr>
                                                <tr>
                                                        <td><p ><b>Age</b></p></td>
                                                        <td><p id="age"></p></td>
                                                 </tr>
                                                 <tr>
                                                        <td><p ><b>Email</b></p></td>
                                                        <td ><p id="email"></p></td>
                                                </tr>
                                                 <tr>
                                                        <td><p ><b>Phone Number</b></p></td>
                                                        <td ><span id="pno1"></span>&nbsp;<span id="pno2"></span></td>
                                                </tr>
                                                <tr>
                                                        <td><p ><b>Address</b></p></td>
                                                        <td ><p id="add1"></p>
                                                        <p id="add2"></p>
                                                        <p id="add3"></p>
                                                        </td>
                                                </tr>
                                                <tr>
                                                  <td> <p><b>Character Name</b></p></td>
                                                  <td><p id="cname"></p></td>
                                                </tr>
                                                <tr>
                                                        <td><p><b>Allergies</b></p></td>
                                                        <td><p id="allergy"></p></td>
                                                </tr>
                                                <tr>
                                                  <td><p><b>Eye Color</b></p> </td>
                                                  <td><p id="eye"></p></td>
                                                </tr>
                                                <tr>
                                                        <td><p><b>Hair Color</b></p> </td>
                                                        <td><p id="hair"></p></td>
                                              </tr>
                                              <tr>
                                                        <td><p><b>Eye ware</b></p> </td>
                                                        <td><p id="ware"></p></td>
                                                 </tr>
                                                              
                                </table>  

                        </div>
                        <div class="col-md-1"></div>	

                </div>
                    <br/>   
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"> <button type="button" class="btn btn-dark btn-lg" id="canBtn"  onclick="Cancel()">Cancel</button></div>
                    <div class="col-md-4"> 
                        <button type="button" class="btn btn-dark btn-lg" id="subBtn"  onclick="SubmitToFirebase()">Submit</button>
                    </div>	
                    <div class="col-md-1"> </div>	
                    
            </div>
       
                                                      
        </div>
        
        </div>
</div>


<br><br><br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
  
</script>


</body>
<script src="./firebase.js"></script>
<script src="./performerinfo.js"></script>
        </html>
              