.button {
    background-color: black;
    border: none;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: Arial;
    color: black;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    color: white;
    background-image: url('searchicon.png');
    background-position: left top;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.kill{
    float: right;
}
