.button {
    background-color: black;
    border: none;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:black;
    font-size: 16px;
    overflow-x: hidden;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    background-position: left top;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

input[type=email] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    background-position: left top;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
}

input[type=submit] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 85px;
    text-align:center;
    margin-top: 10px;
    float: right;
}

input[type=password] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    background-position: left top;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-bottom: 15px;  
}

.kill{
    float: right;
}

a:hover
{
    color: white;
}

a:link
{
    color:white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}


.container {
    border-radius: 5px;
    background-color: rgba(212, 204, 204, 0.705);
    padding: 20px;
  }

  #con
  {
      margin-left: 100px;
      margin-right: 100px;
      font-size: 15px;
  }
 
  table.myTable td:first-child+td
  {
      background-color:white;
      color:red;
      cursor: pointer;
      font-weight: bold; 
      border: 1px solid white;
      font-size: 22px;
  }

  table.dplist1 td:first-child+td+td+td+td+td+td+td+td
  {
    background-color:white;
    color:red;
    cursor: pointer;
    font-weight: bold; 
    border: 1px solid white;
    font-size: 22px;
  }

#accesscode
{
    width: 200px;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    background-position: left top;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 20px;
    float: right;
} 

#td1:hover{
    cursor: pointer;
    background-color: #ccc;
  }
#edit:hover{
cursor: pointer;
background-color: #ccc;
}

.marquee {
height: 50px;	
overflow: hidden;
position: relative; 
}

#scroll{
color : blue;
}

#edit, veri{
float: right;
} 

#ver
{
    font-size: 18px;
}


.w3-modal
{ 
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);

}

.w3-modal-content
{
    margin-left: 20px;
    background-color:#fff;
    position:relative;
    padding:20px;
    outline:0;
    width:600px
}

.w3-card-4,.w3-hover-shadow:hover
{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.w3-display-topright
{
    position:absolute;
    right:0;
    top:0;
    font-size: 30px;
    margin-right: 15px;
}

#edit1
{
    float: right;
}

input[type=radio] {
    border: 5px;
    width: 4%;
    height: 1em;
}

tr{
    cursor: pointer; 
    transition: all .25s ease-in-out
}

.selected{
    background-color: #ccc; 
    font-weight: bold; 
    color: black;
}

#heading
{
    font-size: 20px;
}

optgroup[label="Top"]
{
background-color:#E6E6FA;
}

optgroup[label="Bottom"]
{
background-color: #FFF0F5;
}
optgroup[label="Under"]
{
background-color: #B0E0E6;
}
optgroup[label="Shoes"]
{
background-color: #EEE8AA;
}
optgroup[label="No Size"]
{
background-color: #BC8F8F;
}
optgroup[label="Hat"]
{
background-color: #F0F8FF	;
}
optgroup[label="Set"]
{
background-color: rgb(167, 203, 233);
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
    position: absolute;
    display: inline-block;
    left: 5px; 
    margin-top: 5px;
}

.container{
    max-width: 750px;
    background: #F5F5DC;
}

.ptitle
{
    margin-left: 35px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#getMore
{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#getLess
{
    background-color: white;
    border: none;
    color: blck;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#myTable td:nth-child(odd){border: 2px solid;}
#myTable th:nth-child(odd) {border: 2px solid;}
#myTable th:nth-child(even) {border: 1px solid white;}

#dplist1 th:last-child {border: 1px solid white;}

#removePerf
{
    color: red;
}

#remP:hover
{
    color:red;
}

#removeRow
{
    color: red;
}

#remR:hover
{
    color:red;
}

#remProject:hover
{
    color:red;
    cursor: pointer;
}

#remProject
{
    font-weight: bold; 
    font-size: 18px;
}

#editProj
{
    float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: left;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  #accesscard
  {
      padding: 10px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .btn-group button {
    background-color:black; 
    border: 1px white; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .btn-lgn{
    background-color:black; 
    border: 1px white; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer;
    float: right; 
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .btn-group button:not(:last-child) {
    border-right: none; 
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .btn-group button:hover {
    background-color:rgb(99, 96, 96);
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
