<% include header %>
<head>
        <link type="text/css"
        rel="stylesheet" href="contactpage.css"/>
</head>
    <img src="images/jorandby.jpg" alt="stephie">
    <div class="container">
            <form action="action_page.php">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
              <label for="email">E-mail</label>
              <input type="text" id="email" name="E-mail" placeholder="Your email..">
          
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
          
            </form>
          </div>
    <footer>
        <br>
        <h3>Address: Ron Houston center for the performing arts, Maryville, Missouri, 64468</h3><br>
    </footer>
</body>

