<% include header %>
    <header>
        Stephanie M. Jorandby Costume Designer
    </header>
    <h1>
        E-mail : Stephie@nwmissouri.edu
    </h1>
    <h2>
        Contact Number : 660-562-1503
    </h2>
    <footer>
        
    </footer>
</body>

