
<% include header2 %>

<script src="./print.js"></script>
<script src="./html2canvas .js"></script>
<script src="./designerPulllist.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
  
</script>
<script type="text/javascript">
        window.onload = function() {
                var firebaseRef1 = firebase.database().ref().child("performers");
            firebaseRef1.on('value', function(snapshot){
             performers = snapshot.val(); 
 })
 }
  </script>
<!-- Compiled and minified CSS -->
<div class="container-fluid">
<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-10">
<table id="dplist">       
<tr> 
        
    <th align="center">
        <select  id="mySelect" name="titles" onchange="getPerfomers(this.options[this.selectedIndex])">
                <option value="playTitle">Production/Play title</option>    
                <% var keys = Object.keys(Events)
                keys.forEach(function(key){ 
                var Name = Events[key].Name %>
                     
                    <option  value="<%= key %>" ><%= Name  %> </option> 
                    <% }) %>   

               </select>
        
    </th>  

    <th align="center">
            <select name="names" id="perfoName" onchange="getName()">
                 <option value="performName">Performer Name</option>        

            </select>
    </th> 
    <th>Character Name</th>
    <th>
            <select name="clothing" onchange="getClothingitem()">
                    <option value="clothing">Clothing item</option>        
                    <optgroup label="Top">
                    <option value="dress_male">Dress shirt: Male fit</option>
                    <option value="blouse_female">Blouse: Female fit</option>
                    <option value="blazer_men">Blazer: men's fit</option>
                    <option value="blazer_women">Blazer: men's fit</option>
                    <option value="winter_coat">Winter Coat</option>
                    <option value="trench_coat">Trench coat</option>
                    <option value="blazer_men">Blazer: men's fit</option>
                    <option value="tunic">Tunic</option>
                    <option value="vest_men">Vest: men's fit</option>
                    <option value="vest_women">Vest: women's fit</option>
                    <option value="sweater_crew">Sweater: crew neck</option>
                    <option value="sweater_vneck">Sweater: v-neck</option>
                    <option value="sweater_cardigan">Sweater: cardigan</option>
                    <option value="tshirt_plain">Tshirt: Plain</option>
                    <option value="tshirt_screen">Tshirt: screen print</option>
                    <option value="knit_short">Knit top: short sleeve</option>
                    <option value="tank_top">Tank top</option>
                    <option value="knit_long">Knit top: long sleeve</option>
                    <option value="knit_casual">Knit top: casual</option>
                    <option value="knit_dressy">Knit top: dressy</option>
                    <option value="thermal">Thermal shirt</option>
                    <option value="western">Western shirt</option>
                    <option value="flannel">Flannel shirt</option>
                    <option value="smoking">Smoking jacket</option>
                   </optgroup>
                   <optgroup label="Bottom">     
                    <option value="jeans_female">Jeans: Female fit</option>
                    <option value="jeans_male">Jeans: Male fit</option>
                    <option value="khakis_female">Khakis: Female fit</option>
                    <option value="khakis_male">Khakis: Male fit</option>
                    <option value="slacks_female">Dress Slacks: Female fit</option>
                    <option value="slacks_male">Dress Slacks: Male fit</option>
                    <option value="pants_other">Pants: Other style</option>
                    <option value="skirt_short">Skirt: short</option>
                    <option value="skirt_knee">Skirt: knee-length</option>
                    <option value="skirt_long">Skirt: long</option>
                    <option value="skirt">Skirt</option>
                    <option value="shorts_men">Shorts: men's fit</option>
                    <option value="shorts_women">Shorts: women's fit</option>
                    <option value="leggings">Leggings</option>
                    <option value="track_pants">Track Pants</option>
                    <option value="stretch_pants">Stretch Pants</option>
               </optgroup>
               
               <optgroup label="Set">     
                   <option value="tuxedo_jacket">Tuxedo jacket</option>
                   <option value="tuxedo_shirt">Tuxedo shirt</option>
                   <option value="tuxedo_pants">Tuxedo pants</option>
                   <option value="dress_long">Dress: long</option>
                   <option value="dress_mid">Dress: mid-length</option>
                   <option value="dress_short">Dress: short</option>
                   <option value="nightgown">Nightgown</option>
                   <option value="suit_2">Suit: 2 piece</option>
                   <option value="suit_3">Suit: 3 piece</option>
              </optgroup>
           
              <optgroup label="Under">     
               <option value="under_vneck">Undershirt: Vneck Tshirt</option>
               <option value="under_tank">Undershirt: Tank top</option>
               <option value="tights">Tights</option>
               <option value="pantyhouse">Pantyhouse</option>
               <option value="leotard">Leotard</option>
               <option value="unitard">Unitard</option>
               <option value="dress_socks">Socks: dress socks</option>
               <option value="athletic_socks">Socks: athletic socks</option>
               <option value="short_socks">Socks: short socks</option>
               <option value="socks_tall">Socks: tall socks</option>
               <option value="socks_patterned">Socks: patterned socks</option>
               <option value="underg_full">Undergarment: Full slip</option>
               <option value="underg_half">Undergarment: Half slip</option>
               <option value="socks_knee">Socks: knee socks</option>
               <option value="socks_trouser">Socks: trouser socks</option>
           </optgroup>
           
           <optgroup label="Shoes">     
               <option value="shoe">Shoes: dress shoes men's fit</option>
               <option value="shoe">Shoes: dress shoes women's fit</option>
               <option value="shoe">Shoes: athletic shoes men's fit</option>
               <option value="shoe">Shoes: athletic shoes women's fit</option>
               <option value="shoe">Shoes: flats</option>
               <option value="shoe">Shoes: heels</option>
               <option value="shoe">Shoes: dress boots</option>
               <option value="shoe">Shoes: western boots</option>
               <option value="shoe">Shoes: western boots</option>
               <option value="shoe">Shoes: work boots</option>
               <option value="shoe">Shoes: casual men's fit</option>
               <option value="shoe">Shoes: casual women's fit</option>
               <option value="shoe">Slippers: men's fit</option>
               <option value="shoe">Slippers: women's fit</option>
               <option value="shoe">Dance shoes: character shoes women's fit</option>
               <option value="shoe">Dance shoes: character shoes men's fit</option>
               <option value="shoe">Dance shoes: jazz slippers</option>
               <option value="shoe">Dance shoes: ballet slippers</option>
               <option value="shoe">Dance shoes: tap shoes men's fit</option>
               <option value="shoe">Dance shoes: tap shoes women's fit</option>
               <option value="shoe">Dance shoes: dance sandals</option>
               <option value="shoe">Shoes: china flats</option>
               <option value="shoe">Shoes: sandals</option> 
           </optgroup>
           
           <optgroup label="Hat">
                   <option value="hat">Hat: winter</option>
                   <option value="hat">Hat: dress</option>
                   <option value="hat">Hat: baseball cap</option>
                   <option value="hat">Hat: newsboy</option>
                   <option value="hat">Hat: other</option>
           </optgroup>
           
           <optgroup label="No Size">
                   <option value="noSize">Tie: bow tie</option>
                   <option value="noSize">Tie: straight tie</option>
                   <option value="noSize">Bathrobe</option>
                   <option value="noSize">Cape: long</option>
                   <option value="noSize">Cape: short</option>
                   <option value="noSize">Gloves: winter</option>
                   <option value="noSize">Gloves: work</option>
                   <option value="noSize">Gloves: dress</option>
           </optgroup>
               </select>
    </th>
    <th>
            <select name="colors" onchange="getColor()">
                    <option value="clothing">Color</option>        
                    <option value="kal">black</option>
                    <option value="elen">white</option>
                    <option value="wat">cream</option>
                    <option value="kate">tan</option>
                    <option value="kate">brown</option>
                    <option value="kate">grey</option>
                    <option value="kate">red</option>
                    <option value="kate">orange</option>
                    <option value="kate">yellow</option>
                    <option value="kate">green</option>
                    <option value="kate">blue</option>
                    <option value="kate">purple</option>
                    <option value="kate">pink</option>
                    <option value="kate">lavender</option>
                    <option value="kate">dark</option>
                    <option value="kate">light</option>
                    <option value="kate">pale</option>
                    <option value="kate">distressed</option>
                    <option value="kate">old</option>
               </select>
    </th>
    <th>Size</th> 
    <th>Notes</th>   

</tr>
<tr>
        <td><p id="showTitle"></p></td>
        <td><p id="showName"></p></td>
        <td><p id="character" contenteditable='true'></p></td>
        <td><p id="showclothing"  contenteditable='true'></p></td>
        <td><p id="showcolor"  contenteditable='true'></p></td>
        <td><p id="size"  contenteditable='true'></p></td>
        <td><p id="notes"  contenteditable='true'></p></td>
        <td style="border-right-color: azure; border-bottom-color: azure;border-top-color: azure;"><button id="ro" class="w3-button w3-xlarge w3-circle w3-teal" onclick="addrow()">+</button></td>
        
        
</tr>

</table>
</div>
<div class="col-md-1"></div>
</div>


</div>
<br><br>
<marquee behavior="alternate" direction="left"> <b id="scroll">You will get the added performers in the table below </b></marquee>
<br/>
<div class="row">
 <div class="col-md-1">  </div>
 <div class="col-md-4">  
<h1 style="color: teal; font-family: Great Vibes, cursive; font-size: 50px; line-height: 85px; font-weight: normal; margin-bottom: 0px; margin-top: 10px; text-shadow: 0 1px 1px #fff;">Shop Pull List</h1>
</div>
<div class="col-md-7">  </div>
</div>
<div class="row">
 <div class="col-md-1">  </div>
              
<div class="col-md-9">

<table name="addHere" id="dplist1" class="dplist1">       
        <tr> 
            <th align="center">Pulled</th>     
            <th align="center">Production/Play title</th>  
            <th align="center">Performer Name</th> 
            <th>Character Name</th>
            <th>Clothing item</th>
            <th>Color</th>
            <th>Size</th> 
            <th>Notes</th>  
            
        </tr>

</table>
</div>
<div class="col-md-1"> <a id="rem" onclick="removerows()">remove</a>  </div>
<div class="col-md-1"></div>
</div>
<br/><br/>


<div class="row">
 <div class="col-md-7">  </div>
                             
<div class="col-md-5">
<button class="button" onclick="genPDF()" >Generate Shop Pull List</button>&nbsp;&nbsp;
<button class="button" onclick="savelist()">Save</button>
</div>
</div>
<!-- 
<script>
document.getElementById("rem").style.visibility="hidden";
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
  
</script>
</div>
</body>
</html>