<!DOCTYPE html>
<html lang="en">
<head>
  <title>Costume Designing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="login.js"></script>
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" type="text/css" href="addPerf.css">

 
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster"> -->
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
</style>
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
</head>

<body onload="startTime()">
        <div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <div class="w3-container w3-lobster">
            <p  style = "font-family:cursive,Verdana,sans-serif;font-style:italic;margin-bottom: 0px; margin-top: 0px;font-size:48px">&nbsp Stephi's Designing..</p>
            <!-- <img src="images/jorandby.jpg" alt="Smiley face" height="80" width="70"> -->
        </div>
      </div>
      <div class="col-md-2">
          <div style = " font-size: 30px;font-family:Times New Roman, Times, serif;text-align: center;margin-bottom: 10px; margin-top: 14px;" id="txt"></div>   
      </div>
  </div>
</div>

<nav class="navbar navbar-inverse" onmouseover="startTime()">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/addPerformer">Performer Information</a></li>
      <li  ><a href="/designer">Designer Pull list</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/accesscode">Reset Access code</a></li>
      <li><a href="/contactpage">Contact</a></li>
    </ul>
    <div class="pull-right">
        <button onclick="logout()" class="btn btn-danger navbar-btn">Logout</button>


        </div>
  </div>
</nav>


<!-- <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:150px;height:150px;"src="https://www.clocklink.com/html5embed.php?clock=013&timezone=CST&color=green&size=150&Title=&Message=&Target=&From=2018,1,1,0,0,0&Color=green"></iframe> -->
<!-- <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:80px;height:80px;"src="https://www.clocklink.com/html5embed.php?clock=013&timezone=CST&color=green&size=80&Title=&Message=&Target=&From=2018,1,1,0,0,0&Color=green"></iframe> -->
<!-- <iframe scrolling="no" frameborder="no" clocktype="html5" align="right" style="overflow:hidden;border:0;margin:0;padding:0;width:150px;height:150px;"src="https://www.clocklink.com/html5embed.php?clock=013&timezone=CST&color=green&size=150&Title=&Message=&Target=&From=2018,1,1,0,0,0&Color=green"></iframe> -->
</body>
