<!DOCTYPE html>
<html lang="en">
<head>
  <title>Costume Designing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="addPerf.css">

  <script src="./login.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="addPerformer">Performer Information</a></li>
      <li  ><a href="designer">Designer Pull list</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a href="contactpage">Contact</a></li>
    </ul>
    <div class="pull-right">
        <button class="btn btn-danger navbar-btn">Logout</button>
        </div>
  </div>
</nav>
<iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:150px;height:150px;"src="https://www.clocklink.com/html5embed.php?clock=013&timezone=CST&color=green&size=150&Title=&Message=&Target=&From=2018,1,1,0,0,0&Color=green"></iframe>
</body>
