<% include header %>
<script src="./login.js"></script>
<body >

  <p><b id = "loginMsg"> </b></p>
<div id="loginDiv" class="info">
    <div class="centered1">
        <form>
           <img src="images/fashion.png" >
                    <a href="createNew" class="button">Create New</a>
      <div class="form-group">
        <label for="inputlg">Login id:</label>
        <input class="form-control" id="userlogin" placeholder="Enter the username" type="text">
      </div>

      <div class="form-group">
        <label for="inputlg">Password:</label>
        <input class="form-control" id="userpwd" placeholder="Enter the password" type="password">
      </div> 
<!-- <a href="forgotpassword" class="button">Forgot Password?</a><br> -->
              
</form>

<button onclick="loginFunction()" class="button" >Submit</button>   
<button onclick="logout()" class="button" >Logout</button> 
            
    </div>
</div>



<br><br>

<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
  
</script>

