<% include header %>
<div class="info">
    <div class="centered1">
            <form>
           <img src="fashion.png" width="200dp" height="200dp">
                    <a href="create new" class="button kill">Create new</a>

      <div class="form-group">
        <label for="inputlg">Login id:</label>
        <input class="form-control" id="input-lg" type="text">
      </div>
      <div class="form-group">
        <label for="inputlg">Password</label>
        <input class="form-control" id="inputlg" type="text">
      </div> 
<a href="forgot password" class="button kill">Forgot Password?</a><br>
        <button type="button" onclick="submitToFirebase()">submit</button>                
</form>
            
    </div>
</div>

<br><br>

