<%include header%>
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    
  .carousel-inner img {
      width: 25%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  h3{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .well{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="2300">

   
    <!-- Indicators -->
    <ol class="carousel-indicators" id="indicators">
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" id="roleImages">
     
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3 id="EventName" contentEditable=false></h3><br>
    
    <div class="col-sm-16">
      <div class="well">
       <p id="Eventdesc" contentEditable=false></p>
      </div>

      <button id="editProj" onclick="editProject()">Edit</button>

      </div>
      <br><br>
      <div class="col-sm-6">
      <div class="well">
       <p class="text-left" > Designer : <span id="EventDesigner" contentEditable=false></span></p>
       <p class="text-left"> Organizers : <span  id="EventOrganisers" contentEditable=false></span></p>
       <p class="text-left"> Date : <span  id="EventDate" contentEditable=false></span></p>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <label for="Performers"><b>Performers</b></label>
            <table id="perfoTab">
            <tr>
              <td>
                <select name="names" id="perfoName">
                  <option value="performName">Performer Name</option>                  
                </select>
              </td>
              <td><button id="ro" class="w3-button w3-xlarge w3-circle w3-teal" onclick="addrow()">+</button></td>
            </tr>
            </table>
            <br/>
            <table name="addHere" id="perfProj2" class="perfProj2">         
                <tr><th> </th></tr>
          </table>
        </div>
        </div>
        <button id="cancelButton" onclick="cancelFunction()" style="width:40%;height: 30px;">Cancel</button>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      
    <div class="col-md-2"> <button id="saveButton" onclick="AddEventToFirebase()" style="width:40%;height: 30px;">Save</button> </div>
    <div class="col-md-2"></div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p id="playDesc">The show played on <span id = "date"></span> at <span  id="Address"> Houston center for the performing arts, Maryville, Missouri, 64468</span> </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
</script>        
<script src="./projectDetails.js"></script>
</body>
</html>
