<%include header3%>
<html>
<head>
    
<style>
    body{
        font-family: "Comic Sans MS", cursive, sans-serif;
    }  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.container {
    padding: 16px;
}
.container{
    background-color: white;
}
.card {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  border: black;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}</style>
</head>

<body>
  
    <b>Select title image to upload:</b>
    <input type="file" name="fileToUpload" id="file123">
    <button type="submit"  onclick=test()>TEST</button>
    <br/>
    <br/>
    <button type="submit"  onclick=retreive()>getImage</button>  
  <div id="retreiveImage">
      <!-- <img  style="width:50%" id="testImage"> -->
  </div>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add Project</button>       
        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form class="modal-content" action="/action_page.php">
            <div class="container">
              <h1>Add Project</h1>
              <p>Fill out the fields to add a Project</p>
              <hr>
              <label for="title"><b>Project Title</b></label>
              <input type="text" placeholder="Title of the Project" name="title" required><br>
        
              <label for="Performers"><b>Performers</b></label><br>
            <input type="text" name="Performers" placeholder="Juliet, Andrew, Janet,...." style="height:200px" required><br>
        
              <label for="Project"><b>Project description</b></label><br>
            <input type="text" name="Project description" placeholder="Write something.." style="height:200px" required><br>
              
             <form action="upload.php" method="post" enctype="multipart/form-data">
              <b>Select title image to upload:</b>
              <input type="file" name="fileToUpload" id="fileToUpload">
          </form>

          <form action="uploadmulti.php" method="post" enctype="multipart/form-data">
            <b>Select multiple images to upload:</b>
            <input type="file" name="upfile[]"multiple>
            <input type="submit" value="Upload">
        </form>
        <br>
              <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="Add" onclick=myFunction()>Add</button>
                <script>
                  function myFunction() {
                  alert("Project added successfully");
                    }
                  </script>

              </div>
            </div>
          </form>
        </div>
<br>
<div class="container" id="EventHolder">

</div>

<div class="container"><div class="row">
     
     <div class="col-sm-6" >
        <div class="card">
            <img alt="The shoemakers Holiday" style="width:100%" id="testImage">
            <h3><i>The shoemaker's Holiday</i></h3><br>
            <p class="description">Elizabethan 
              Costume Design Project</p><br>
              <p><form action="projectdetails"><button>Read more..&rarr;</button></form></p>
          </div>
        </div>
   
     <div class="col-sm-6">
        <div class="card">
            <img src="images/iris.jpg" alt="Still Life with Iris" style="width:50%">
            <h3><i>Still Life with Iris</i></h3><br>
            <p class="description">Theatre for Young Audiences Costume Design Project</p><br>
            <button>Read more..&rarr;</button>
          </div>
        </div>
   </div>
   <br>

   <div class="row">
      <div class="col-sm-6">
        <div class="card">
        <img src="images/sample3.jpg" alt="The Birds" style="width:50%">
        <h3><i>The Birds</i></h3><br>
        <p class="description">Greek/Mask 
                Costume Design Project</p><br>
                <p><form action="projectdetails"><button>Read more..&rarr;</button></form></p>
        </div>
       
      </div>
   
   <div class="col-sm-6">
    <div class="card">
        <img src="images/sample4.jpg" alt="The shoemakers Holiday" style="width:50%">
        <h3><i>Mrs. Warren's Profession</i></h3>
        <p class="description">Designer Emulation Costume Design project</p><br>
        <p><form action="projectdetails"><button>Read more..&rarr;</button></form></p>
      </div>
     </div>
   </div>
   </div>
   <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
</script>        
      <script src="projects.js"></script>
</body>
</html>
