<%include header3%>

<html lang="en">
<head>
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }
    
  .carousel-inner img {
      width: 25%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  h3{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .well{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

   
    <!-- Indicators -->
    <ol class="carousel-indicators" id="indicators">
    
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" id="roleImages">
     
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3>The shoemaker's Holiday</h3><br>
  
    <div class="col-sm-16">
      <div class="well">
       <p>Elizabethan Costume Design Project</p>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="well">
       <p class="text-left">Director: Jay Sierszyn<br>
        Scenic Design: Chris Kurtz<br>
        Costume Design: Suzann Campbell<br>
        Lighting Design: Stephanie Jorandby and Aaron Siegmann<br>
        Technical Direction: Chris Kurtz</p>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
         <p>Performers</p>
         <p class="text-left">Chris Gayle<br>
            Rohith<br>
            sunil<br>
         </p>
        </div>
        </div>
    </div>
    
  
</div><br>

<footer class="container-fluid text-center">
  <p>The show played on september 2016 7.00 pm at Ron Houston center for the performing arts, Maryville, Missouri, 64468 </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
</script>        
<script src="./projectDetails.js"></script>
</body>
</html>
