
<% include header %>
<div class="container">
<button class="button button-large button-primary">Send form</button>
</div><br>


 <form class="container" method="POST" action="/send">
    First name:<br>
    <input type="text" name="firstname" placeholder="Enter first name">
    <br>
    Last name:<br>
    <input type="text" name="lastname" placeholder="Enter last name">
    <br>
    Email:<br>
    <input type="email" name="emailid" placeholder="Enter email"><br/><br/>
    <button type="submit" >Submit</button>
  </form>

