
<% include header %>
<div class="container">
<button class="button button-large button-primary">Send form</button>
</div><br>


 <form class="container" method="post" action="sendform">
    First name:<br>
    <input type="text" name="firstname" value="Micheal">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="jackson">
    <br>
    Email:<br>
    <input type="email" placeholder="Enter email"><br/><br/>
    <button type="submit" value="Send" >Submit</button>
  </form>

