<% include header %>
<div class="ptitle">
    <h2><span id="pname">Performer</span>'s Measurement Form</h2>
    <button class="button" onclick="getMeasurements()">Get Measurements</button>
</div>
<br><br>
  <div class="row">
    <div class="col-md-2"></div>
<div class="container">
  <div class="col-md-6">
      <div class="form-group">
        <label for="inputlg">Name (Last, First)</label>
        <input class="form-control" id="perf_name" type="text" contenteditable="false">
      </div>
      <div class="form-group">
        <label for="inputlg">Character Name</label>
        <input class="form-control" id="character_name" type="text">
      </div>
      <div class="form-group">
        <label for="inputlg">Show Title</label>
        <input class="form-control" id="show_title" type="text" contenteditable="false">
      </div>
      <div class="form-group" id="dominant_hand">
        <label>Dominant Hand</label>
      <div class="radio">
        <label><input type="radio"  name="optradio">Left</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Right</label>
      </div>
      </div>
  
  <div class="w3-content w3-display-container">
      <b>Head and Neck Measurements: </b><br>
  <div class="w3-display-container mySlides1">
    
    <img src="images/head.jpg" width="150dp" height="150dp">
    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
        Head Circumference: <input type="text" id="head" name="head">
    </div>
  </div>
  
  <div class="w3-display-container mySlides1">
      
    <img src="images/neck.jpg" width="150dp" height="150dp">
    <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
        Neck: <input type="text" id="neck" name="neck"> 
    </div>
  </div>

  <button class="w3-button w3-display-left w3-black" onclick="HNplusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right w3-black" onclick="HNplusDivs(1)">&#10095;</button>
  
</div>

<script>
    var HNslideIndex = 1;
    HNshowDivs(HNslideIndex);
    
    function HNplusDivs(n) {
      HNshowDivs(HNslideIndex += n);
    }
    
    function HNshowDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides1");
      if (n > x.length) {HNslideIndex = 1}    
      if (n < 1) {HNslideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[HNslideIndex-1].style.display = "block";  
    }
  
  
    </script>
    <br/>
<div class="w3-content w3-display-container">
    <b>Arm Measurements: </b><br/><br/>
  <div class="w3-display-container mySlides2">
      
    <img src="images/armscye.jpg" width="150dp" height="150dp">
    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        Armscye: <input type="text" id="armscye" name="armscye">
    </div>
  </div>
  
  <div class="w3-display-container mySlides2">
      
    <img src="images/cbw.jpg" width="150dp" height="150dp">
    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        Center Back to Wrist: <input type="text" id="centerBack" name="centerBack">
    </div>
  </div>

  <button class="w3-button w3-display-left w3-black" onclick="AplusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right w3-black" onclick="AplusDivs(1)">&#10095;</button>
  </div>

  <script>
      var AslideIndex = 1;
      AshowDivs(AslideIndex);
      
      function AplusDivs(n) {
        AshowDivs(AslideIndex += n);
      }
      
      function AshowDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides2");
        if (n > x.length) {AslideIndex = 1}    
        if (n < 1) {AslideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        x[AslideIndex-1].style.display = "block";  
      }
    
    
      </script>
      <br/>
  <div class="w3-content w3-display-container">
      <b>Torso Measurements: </b><br/><br/>
  <div class="w3-display-container mySlides">
     
    <img src="images/chestrel.jpg" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Chest Relaxed: <input type="text" name="chest_relaxed" id="chest_relaxed">
      
    </div>
  </div>

  <div class="w3-display-container mySlides">
      
    <img src="images/chestrel.jpg" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Chest Expanded: <input type="text" name="chest_expanded" id="chest_expanded">
      
    </div>
  </div>
  <div class="w3-display-container mySlides">
     
    <img src="images/waist.png" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Waist Relaxed: <input type="text" name="waist_relaxed" id="waist_relaxed">
      
    </div>
  </div>
  <div class="w3-display-container mySlides">
      
    <img src="images/waist.png" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Waist Expanded: <input type="text" name="waist_expanded" id="waist_expanded">
      
    </div>
  </div>
  <div class="w3-display-container mySlides">
      
    <img src="images/hip.png" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Full Hip: <input type="text" name="hip" id="hip">
      
    </div>
  </div>
  <div class="w3-display-container mySlides">
  
    <img src="images/half_girth.jpg" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Half Girth: <input type="text" name="half_girth" id="half_girth">
      
    </div>
  </div>
  <div class="w3-display-container mySlides">

    <img src="images/full_girth.jpg" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Full Girth: <input type="text" name="full_girth" id="full_girth">
      
    </div>
  </div>
  <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
  
  
    </script>
    <br/>

  <div class="w3-content w3-display-container">
      <b>Leg Measurements: </b><br/><br/>
  <div class="w3-display-container mySlides3">
     
    <img src="images/inseam.jpg" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Inseam to Ankle: <input type="text" name="inseam_ankle" id="inseam_ankle">
      
    </div>
  </div>
  <div class="w3-display-container mySlides3">
     
    <img src="./images/inseamfloor.png" width="150dp" height="150dp">
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        Inseam to Floor: <input type="text" name="inseam_floor" id="inseam_floor">  
    </div>
  </div>

  
  <button class="w3-button w3-display-left w3-black" onclick="LplusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right w3-black" onclick="LplusDivs(1)">&#10095;</button>
  
  </div>
  <script>
  var LslideIndex = 1;
  LshowDivs(LslideIndex);
  
  function LplusDivs(n) {
    LshowDivs(LslideIndex += n);
  }
  
  function LshowDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides3");
    if (n > x.length) {LslideIndex = 1}    
    if (n < 1) {LslideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    x[LslideIndex-1].style.display = "block";  
  }


  </script>
   
  </div>
  <div class="col-md-3"> 
    <div class="w3-container">
      <a onclick="document.getElementById('id02').style.display='block'" id="edit1">Edit</a>
    
      <div id="id02" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h3>Access Code Verification</h3>
            <br>
            <label id="ver">Enter the access code to edit the measurments:</label><br>
            <input type="password" id="accesscode" name="accesscode" required /><br><br>
            <button id="veri" class="button" onclick="editMeasurements()">Verify</button>
          </div>
        </div>
      </div>
    </div>
    </div> 	

  
<br><br>
</div>
</div>
  
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"> <button type="button" class="button" id="canBtn"  onclick="cancelFunction()">Cancel</button></div>
    <div class="col-md-4"> 
        <button type="button" class="button" id="subBtn"  onclick="submit_to_firebase()">Submit</button>
    </div>	
    <div class="col-md-1"> </div>	
    <script>
        document.getElementById("subBtn").style.visibility='hidden';
        document.getElementById("canBtn").style.visibility='hidden';
    </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYsx1EG2B-MqFLy_h9yew6uxb77ZS5aos",
    authDomain: "costume-designing-system.firebaseapp.com",
    databaseURL: "https://costume-designing-system.firebaseio.com",
    projectId: "costume-designing-system",
    storageBucket: "costume-designing-system.appspot.com",
    messagingSenderId: "923569045734"
  };
  firebase.initializeApp(config);
  
</script>
<script src="./firebase.js"></script>
<script src="./performerinfo.js"></script>
